@model IEnumerable<WorkFlowDynamic.DataEntityTypes.SchemeWorkFlowSet>

@{
    ViewData["Title"] = "Workflow dynamique";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p><br />
    <div>
        <span class="mb-2 mr-2 btn btn-primary"><a style="color: white;" asp-controller="SchemeWorkFlowSets" asp-action="Index">Créer un workFlow</a></span>
    </div>
</div>
<br />
<br />
@if (Model.Count() > 0)
{
    <div class="card-body box box-default">
        <div class="box-header with-border">
            <h3 class="login100-form-title  ml-1" id="idTitre">Enregistrer Listes des workflow</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" style="color: black" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div><hr />
        </div>
        <div class="box-body" style="z-index: 0;">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-lg-4">
                        <div class="card" style="max-width: 18rem;">
                            <button class="mb-2 mr-2 btn btn-info">
                                @Html.DisplayFor(modelItem => item.SchemeName)
                                <br /><br />
                                <span class="badge badge-pill badge-light">
                                    <a asp-controller="Home" asp-action="DemarrerWorkflow" asp-route-id="@item.Id">Démarrer</a>
                                </span>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

    <br />
    <br />
    <br />
